*{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color: rgb(138, 138, 138);
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*------------*/
/* link styles*/
/*------------*/
a{
    text-decoration: none;
    color: rgb(60, 60, 60);
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

/*---------------------*/
/* nav & profile styles*/
/*---------------------*/
.name{
    font-weight: 50px;
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 25px;
}

nav{
    text-decoration: none;
    font-size: 1.10em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

li{
    padding: 15px;
    list-style: none;
}

.profile-image{
    padding: 15px 0px;
    max-width: 70%;
}

.bio{
    padding: 30px 15px 30px 15px;
    font-size: 1em;
    line-height: 1.5;
}

.name,
.titles,
h3,
b{
    color:rgb(60, 60, 60);
}

#top,
.contact-container,
footer{
    background-color: rgb(249, 249, 249);
}

/*-----------------*/
/* portfolio styles*/
/*-----------------*/

.portfolio{
    padding: 10px 0px 30px 0px;
}

img{
    max-width: 90%;
}

.titles{
    font-size: 0.8em;
}

#portfolio{
    padding: 40px 0px 30px 0px;
}

h3{
    font-style:normal 100px;
    padding-top:30px;
}

.description
{
    padding: 17px;
    padding-top: 15px;
    padding-bottom: 40px;
}

/*--------------*/
/*contact styles*/
/*--------------*/

.contact-container{
    padding: 10px 15px 10px 15px;
}

#contact{
    padding: 40px 0px 20px 0px;
}

.contact-description{
    padding: 10px 10px 30px 10px;
}

.contact-info{
    padding: 10px;
}

.contact-content{
    padding-bottom: 40px;
}

hr{
    border:0px;
    height:1px;
    background-color: rgb(228, 228, 228);
}

/*-------------*/
/*footer styles*/
/*-------------*/

footer{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 15px 30px 15px;
    font-size: 0.9em;
}

footer p{
    font-weight:50px:
}

div b{
    color: rgb(138, 138, 138);
}

img{
        transition: 1s;
    }
    
    img:hover{
        transform: scale(1.1);
    }


#top{
    color:rgb(99, 0, 0);
}
/*------------*/
/*phone styles*/
/*------------*/
@media screen and (min-width: 320px){

#top{
    font-weight: bold;
}

.bottom-nav{
    display:none;
}
}

/*-------------*/
/*tablet styles*/
/*-------------*/

@media screen and (min-width: 768px){
/*=====================*/
/* nav & profile styles*/
/*=====================*/
.name{
    padding-top: 50px;
}

nav{
    font-size: 0.8em;

}
ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li{
    flex-direction: row-reverse;
    align-items: center;
}

.bio{
    display: flex;
    flex-direction: row-reverse;
}

.bio p{
    padding: 0px 45px 0px 0px;
    font-size: 1.1em;
    text-align: left;
}

.profile-image{
    padding:0px;
    max-width: 40%;
}

/*================*/
/*portfolio styles*/
/*================*/

img{
    max-width: 30%;
}

.portfolio{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 10px 15px 30px 15px;
}

.portfolio-item{
    flex: 1 0 33%;
    font-size: 1em;
    margin: 0 5px;
}

.portfolio-item img{
    max-width: 100%;
}

/*=============*/
/*footer styles*/
/*=============*/

.contact-description{
    font: lighter 100px;
    font-size: 1.1em;
    padding: 10px 135px 30px 135px;
}

.return-top{
    display: none;
}

.bottom-nav{
    display: flex;
    flex-direction: row;
    visibility: visible;
}

.nav-item-bottom{
    display: inline;
    padding: 0px 0px 20px 20px;
    font-size: 0.8em;
    font-weight: bold;
    flex-direction: row;
}
}

/*---------------*/
/* desktop styles*/
/*---------------*/

@media screen and (min-width: 1024px){

    .name{
        text-align: left;
        padding: 80px 0px 0px 50px;
    }

    ul{
        justify-content:flex-end;
        margin: -35px 0px 0px 0px;
        padding: 0px 35px;
    }

    .bio{
        padding: 30px 50px 40px 50px;
    }

    .bio p{
        padding: 0px 40px 0px 0px;
        font-size: 1.3em;
    }

    .portfolio{
        padding: 10px 50px 30px 50px;
    }

    .portfolio-item {
        flex: 1 0 30%;
    }

    .contact-container{
        padding: 10px 50px 10px 50px;
    }

    .contact-description{
        font-size: 1.2em;
        padding: 10px 200px 30px 200px;
    }

    .bottom-footer{
        margin:0px;
    }

    footer{
        padding: 10px 50px 10px 50px;
    }
    
    .bottom-footer{
        padding: 0px 0px 0px 0px;
    }
    

}